:root {
  /*╔════════════════════════════╗
              COLORS
    ╚════════════════════════════╝*/

  --clr-bg-header: rgb(233, 230, 227);
  --clr-bg-0: rgb(250, 248, 246);
  --clr-bg-1: rgb(254, 254, 254);
  --clr-primary: rgb(32, 173, 150);
  --clr-secondary: rgb(63, 58, 100);
  --clr-txt-0: rgb(63, 58, 100);
  --clr-txt-1: white;
  /*╔════════════════════════════╗
          COMPONENT DIMENSION
    ╚════════════════════════════╝*/
  /* width */
  --wdt-container-xl: 75rem;
  /* hgt */
  --hgt-space-section: 4rem;
  --hgt-header: 5rem;
  --hgt-item-lg: 4.5rem;
  --hgt-item-sm: 2.5rem;

  /*╔════════════════════════════╗
                GUTTERS
    ╚════════════════════════════╝*/
  --space-unit: 1rem;
}
